# The token from the botfather https://t.me/BotFather
TELEGRAM_BOT_TOKEN=''
# The list of the comma separated telegram user IDs (who will be allowed to send requests to it)
ALLOWED_TELEGRAM_IDS='000000000,00000000'
# The id of the sheet. You can get it from the link to the target sheet.
# It looks like: https://docs.google.com/spreadsheets/d/{googleSheetId}
GOOGLE_SHEET_ID='1kmNaAEAX5ZWxS-4iXoFZ4CUix1cwjd_Uf1e9LL0veM0'
# absolute path to creds.json file
GOOGLE_CREDS_PATH='usr/src/creds.json'
LANGUAGE='en'
